.top_container{
  background-color: #000000;
  height:250px;
  /* position: relative;
  left: 35px; 
  top: 55px; */
  font-size: 50px;
  padding-left: 50px;
  padding-top: 40px;
  }
  
  .mid_container{
    /* background-color: #C8C6C6; */
      position: relative;
      left: 235px;
      top:40px;
      font-size: 30px;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

.bottom_container{


} 

.contact-me{
  color: black;
  width: 40%;
  margin: 40px auto 60px;
  }
  
.btn {
    background: #777d7a;
    background-image: -webkit-linear-gradient(top, #777d7a, #828b91);
    background-image: -moz-linear-gradient(top, #777d7a, #828b91);
    background-image: -ms-linear-gradient(top, #777d7a, #828b91);
    background-image: -o-linear-gradient(top, #777d7a, #828b91);
    background-image: linear-gradient(to bottom, #777d7a, #828b91);
    -webkit-border-radius: 60;
    -moz-border-radius: 60;
    border-radius: 60px;
    font-family: Georgia;
    color: #ffffff;
    font-size: 23px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    position: relative;
    left: 670px;
    top: -42px;
  }
  
.btn:hover {
background: #7a757a;
background-image: -webkit-linear-gradient(top, #7a757a, #969899);
    background-image: -moz-linear-gradient(top, #7a757a, #969899);
    background-image: -ms-linear-gradient(top, #7a757a, #969899);
    background-image: -o-linear-gradient(top, #7a757a, #969899);
    background-image: linear-gradient(to bottom, #7a757a, #969899);
    text-decoration: none;
  }

